/*
 * StyleSheet for
 */
.background {
    -fx-background-color: #6FA8DC;
}
.button
{
    -fx-border-color: #050505;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-font-size: 18;
    
}
.button:hover
{
    -fx-background-color: #2588D7;
    -fx-transition: width 1s;
    -fx-font-size: 20;  
}
.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}





